if block.blockType == 8
    .area.area-ad(data-bid='#{block.id}',data-mtype="#{block.module || []}")
       
if block.blockType == 9
    .area.area-ad.ad-line(data-bid='#{block.id}',data-mtype="#{block.module || []}")
        
if block.blockType == 15
    .area.area-ad.ad-line(data-bid='#{block.id}',data-mtype="#{block.module || []}")
        