.nav-sub
   .wp.nav-channel-sub-con
      - var addClass = "";
      each categoryItem in categoryData
         if categoryItem.children.length && parentCId == categoryItem.cid
            ul.clearfix
               if pageType && (pageType == "channel")
                  if categoryItem.cid == channelId
                     - addClass = "active"
                  else
                     - addClass = ""
                  li(class="#{addClass}")
                     a(href="#{categoryItem.link}") 本区推荐
               each sub in categoryItem.children
                  if sub.cid == channelId
                     - addClass = "active"
                  else
                     - addClass = ""
                  li(class="#{addClass}")
                     a(href="#{sub.link}") #{sub.nav_name}
