if infoData.banner
    -var bannerData = infoData.banner
    -var pendantData = infoData.pendant
    .header-banner
        style.
            .header .header-banner .banner-href{
                background-image: url(#{bannerData.wide_img});
            }
            @media screen and (max-width:1280px){
                .header .header-banner .banner-href{
                    background-image: url(#{bannerData.narrow_img});
                }
            }
        a.banner-href(href="#{bannerData.global_url}",target="_blank")
        if bannerData.global_text
            span.point.hidden #{bannerData.global_text}
        if pendantData && pendantData.list && pendantData.list.length && pendantData.list[0].image
            - var data = pendantData.list[0]
            a.header-pendant(href='#{data.link}',target='_blank',style='background-image:url(#{data.image})')