.wp.footer-con
    .clearfix.footer-top
        .fl.footer-nav
            .item-cooperation
                h5 合作
                p
                    a(href="#{config.rootDomain ||''}/info/#page=about",target="_blank") 关于我们
                    a.mr0(href="#{config.rootDomain ||''}/info/#page=contact",target="_blank") 联系我们
                    br
                    a(href="#{config.rootDomain ||''}/info/#page=joinus",target="_blank") AC招聘
            .item-official
                h5 官方
                p
                    a(href="http://weibo.com/danmushipin/",target="_blank") 新浪微博
                    a(href="http://tb.am/cbaz8/",target="_blank" class="mr0") 官方网店
                    br
                    a.i-o-ewm
                        span.i-o-code
                            img(src="#{config.path}/img/erweima.jpg")
                        |  微信公众号
            .item-download
                h5 下载
                p
                    a.mr0(href="#{config.rootDomain ||''}/app/",target="_blank") 移动客户端
                    span.new new
                    br
                    a.mr0(href="#{config.rootDomain ||''}/emot/",target="_blank") AC娘表情包
            .item-function
                h5 友情链接
                p
                    //a(href="#{config.rootDomain ||''}/map/",target="_blank") 网站地图
                    //a(href="#{config.rootDomain ||''}/rank/",target="_blank") 排行榜
                    //a.mr0(href="#{config.rootDomain ||''}/info/#page=help",target="_blank") 帮助手册
                    //br
                    a(href="https://www.douyu.com/",target="_blank") 斗鱼直播
                    a(href="http://h.nimingban.com",target="_blank" class="mr0") 匿名版
                    br
                    a(href="http://lg.dianbo.me/index.php",target="_blank") AC大逃杀
            .item-feedback
                h5 反馈
                p
                    a(href="#{config.rootDomain ||''}/feedback/",target="_blank") 意见反馈
                    a(href="#{config.rootDomain ||''}/report/",target="_blank") 举报
                    a(href="#{config.rootDomain ||''}/about/help",target="_blank" class="mr0") 帮助中心
                    br
                    a(href="#{config.rootDomain ||''}/info/#page=disclaimer",target="_blank") 免责声明
                    a(href="#{config.rootDomain ||''}/info/#page=agreement",target="_blank") 用户协议

        .fr.no-select.footer-avatar-ac
            img(src="", width="70",height="61")
            span.num
    .clearfix.footer-link
        .item-link1
            i.item-icon-1
            a(href='http://www.12377.cn/',target='_blank') 中国互联网举报中心
            br
            i.item-icon-2
            span 网络文化经营单位
            br
            i.item-icon-3
            a( href = 'http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502032340',target='_blank') 京公网安备 11010502032340号
        .item-link2
            span 京ICP备15067359号
            br
            a(href='http://www.bjjubao.org/',target='_blank') 北京互联网举报中心
            br
            a(href='http://www.bjwhzf.gov.cn/accuse.do',target='_blank') 北京12318文化市场举报热线
        .item-link3
            a(href='//www.miitbeian.gov.cn/',target='_blank') 京ICP证161323号
            br
            a(href='/about/qualification',target='_blank') 京网文[2016]0948-099号
        .item-link4
            span 节目制作经营许可证（京）字第05158号
            br
            a(href='http://www.bj.cyberpolice.cn/index.jsp',target='_blank') 网络110报警服务
        //.item-link5.hidden
        //    a(key ="58807ce2efbfb0190275685d",logo_size="83x30",logo_type="business",href="http://www.anquan.org")
        //        script(src="//static.anquan.org/static/outer/js/aq_auth.js")
    .footer-bottom
        a(href="#{config.domain}")
            img(src="#{config.path}/img/logo-gray.png",width="78",height="24")
        p 本站不提供任何视听上传服务，所有内容均来自视频分享站点所提供的公开引用资源。Copyright © 2007-2017 AcFun. 保留所有权利
